# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/

# Model files
*.pkl
*.joblib
*.h5
*.keras

# Large/raw datasets
data/raw/*
data/external/*

# Generated outputs
outputs/forecasts/*
outputs/graphs/*
outputs/reports/*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db